/**/
.white-text{
    color: #fff !important;
}

.item-container-o{
    border:#333 thin solid;
    margin-bottom:10px;
}

.item-header{
    padding:10px;
}

.eo-box{
    background: #fff;
    color:#333;
    padding: 10px;
    box-shadow: #ccc 0px 0px 4px;
}

.eo-divider{
    border-right: #ccc thin solid;
}

@media screen and (max-width:575px){
    .eo-divider{
        border-right: none;
        border-bottom: #ccc thin solid;
        margin-bottom: 20px
    }       
}

.eo-box-t{
    border:#333 thin solid;
    border-radius:5px; 
}

.post-time{
    font-size:13px;
    color:#888;
}

.m0{
    margin:0 !important;
}
.ms0{
    margin-left: 0 !important;
    margin-right: 0 !important; 
}

.ms10{
    margin-left: 10 !important;
    margin-right: 10 !important; 
}

.mt10{
    margin-top: 10px;
}

.mt20{
    margin-top: 20px;
}

.p0{
    padding: 0 !important;
}

.p10{
    padding: 10px !important;
}

.p20{
    padding: 20px !important;
}

.p5{
    padding: 5px !important;
}

.ps0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.ps10{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.ps5{
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.w100{
    width: 100%;
}

.radius5{
    border-radius: 5px !important;
}

.eo-dark-bg{
    background: #333;
    color:#fff;
}

.eo-light-bg{
    background: #fff;
    color:#333;
}

.eo-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.eo-h1{
    font-size:32px;
}

.eo-h2{
    font-size:28px;
}

.eo-h3{
    font-size:24px;
}

.eo-h3{
    font-size:20px;
}

#overlay{
    position:fixed;
    z-index:99999;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:#fff;
    transition: 1s 0.4s;
}

.cart-float{
    position: fixed;
    bottom: 68px;
    margin-top: 110px;
    z-index: 100000 !important;
    overflow-y: scroll;
}
.cart-body{
    height: 70vh;
    background: #fff;
}
.cart-items{
    background: #fff !important;
}

.top-curve{
    border-radius: 10px 10px 0px 0px;
}

.cart-float-button{
    /* height: 50px; */
    /* width: 80px; */
    background: #5ab30c;
    color:#fff;
    border:none;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: #333 2px 2px 8px;
}

.cart-float-icon{
    font-size: 18px;
    color:#fff;
}   

.sec-header{
    height:200px;
    background-position: center !important;
    background-size: cover !important;
    opacity: 0.3;
}

.sec-header-sm{
    height:100px;
    background-position: center !important;
    background-size: cover !important;
}

.smenu-head{
    background: #fff;
    color: #333;
    font-weight: 600;
    padding: 10px;
}

.smenu-desc{
    background: #c0c0c0;
    border-bottom: #f0f0f0 thin solid;
    color: #333;
}

.add-cart{
    font-size: 18px;
}

.eo-touch{
    color: #5ab30c;
    font-weight: 400 !important;
}

.menu-price{
    color: #555555;
    margin-top: 20px;
    font-weight: 400 !important;
}

.eo-checkbox{
    border: #ccc thin solid;
    border-radius: 50%;
    background: #ccc;
}

.eo-menu-btn{
    padding:0px 10px;
    background: none;
    color: #fff;
    border: none;
    font-size: 18px;
}
.eo-menu-label{
    color: #fff;
    font-size:10px;
}

@media screen and (min-width: 575px){
    .show-sm{
        display: none;
    }
}
@media screen and (max-width: 575px){
    .show-lg{
        display: none;
    }
}

.eo-label{
    padding:2px 5px;
    color: #333;
    border: #333 thin solid;
    margin-right: 10px;
    float:left;
}

.light-border-bottom{
    border-bottom: #f0f0f0 thin solid;
}

.mt20{
    margin-top:20px !important;
}

.no-display{
    display: none;
}

.top-sec{
    /* background: #f0f0f0; */
    border-bottom: #ccc thin solid;
}
.bottom-sec{
    background: #fff;
    border-bottom: #e2e2e2 thin solid;
}